{% load static from staticfiles %}
{% load i18n %}
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/jquery.easing/jquery.easing.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/select2/dist/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/jquery-mask-plugin/dist/jquery.mask.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  var URL_COMBO_UPDATE = "{% url 'base:combo_update' %}";
</script>
<script src="{% static 'js/ajax.request.js' %}" type="text/javascript"></script>
<script src="{% static 'js/functions.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.html5.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.flash.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.print.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/jszip/dist/jszip.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/pdfmake/build/pdfmake.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/pdfmake/build/vfs_fonts.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootbox/bootbox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/sb-admin.min.js' %}" type="text/javascript"></script>
{% include 'base/alert.messages.html' %}
<script type="text/javascript">
  $(document).ready(function(){
    //muestra los mensajes centrados
    $('[data-toggle="tooltip"]').tooltip();

    //para agregar el select2 en los respectivos campos de tipo select
    $(".select2").select2();

    $.extend( true, $.fn.dataTable.defaults, {
      "language": {
        "sProcessing":     "Procesando...",
        "sLengthMenu":     "Mostrar _MENU_ registros",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        },
      },
      "scrollX": true,
    });
  });
</script>